.newsletter-subscribe {
  color: #000;
  box-shadow: 1px 2px 5px skyblue, -2px -2px 5px skyblue;
  p {
    color: #7d8285;
    line-height: 1.5;
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 25px;
    padding-top: 20px;
    line-height: 1.5;
    padding-top: 0;
    margin-top: 0;
    color: white;
  }
  .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 25px;
    p {
      margin-bottom: 35px;
    }
  }
  form {
    justify-content: center;
    .form-control {
      background: #eff1f4;
      border: none;
      border-radius: 3px;
      box-shadow: none;
      outline: none;
      color: inherit;
      text-indent: 9px;
      height: 45px;
      margin-right: 10px;
      min-width: 250px;
    }
    .btn {
      padding: 16px 32px;
      border: none;
      background: none;
      box-shadow: none;
      text-shadow: none;
      opacity: 0.9;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px;
      letter-spacing: 0.4px;
      line-height: 1;
      &:hover {
        opacity: 1;
      }
      &:active {
        transform: translateY(1px);
      }
    }
    .btn-primary {
      background-color: #055ada !important;
      color: #fff;
      outline: none !important;
    }
  }
}
